 {% extends 'basetemplates/base_public.html' %}
 {% load static %}
 {% load i18n %}

 {% block content %}
 <div class="container mx-auto p-4 max-w-md bg-block-background rounded-3xl shadow-lg mt-10 md:mt-20">
     <h2 class="text-3xl font-bold mb-6 text-center" style="color: #0A4E75;">{% trans "Вход" %}</h2>

     {% if form.errors %}
         <div class="bg-light-red-bg border border-error-red text-dark-red-text px-4 py-3 rounded relative mb-4" role="alert">
             <strong class="font-bold">{% trans "Грешка!" %}</strong>
             <span class="block sm:inline">{% trans "Вашето потребителско име и парола не съвпадат. Моля, опитайте отново." %}</span>
         </div>
     {% endif %}

     <form method="post" class="space-y-4">
         {% csrf_token %}
         <div>
             <label for="id_username" class="block text-gray-700 text-sm font-bold mb-2">{% trans "Потребителско име" %}:</label>
             <input type="text" name="username" id="id_username" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
         </div>
         <div>
             <label for="id_password" class="block text-gray-700 text-sm font-bold mb-2">{% trans "Парола" %}:</label>
             <input type="password" name="password" id="id_password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
         </div>
         <div class="flex items-center justify-between pt-4">
             <button type="submit" class="bg-button-blue hover:bg-navbar-button-blue text-white font-bold py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline transition-colors duration-300">
                 {% trans "Вход" %}
             </button>
             <a class="inline-block align-baseline font-bold text-sm text-button-blue hover:text-navbar-button-blue" href="{% url 'medj:register' %}">
                 {% trans "Нямаш акаунт? Регистрирай се." %}
             </a>
         </div>
     </form>
 </div>
 {% endblock content %}
