{% extends 'base.html' %}
{% load i18n %}
{% block content %}
  <div class="container mt-5">
     <h2 class="text-center mb-4">{% trans 'Регистрация' %}</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
        <button type="submit" class="btn btn-primary">{% trans 'Регистрация' %}</button>
    </form>
  </div>
{% endblock %}

{% if form.errors %}
  <div style="color:red;">
    <ul>
      {% for field in form %}
        {% for error in field.errors %}
          <li>{{ field.label }}: {{ error }}</li>
        {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
